{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- font embeds -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Life+Savers&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Staatliches&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">

  <title>Project 'X'</title>
</head>
<body>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Project 'X'</a>
  <div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'searchapp:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'searchapp:searchphones' %}">Mobile</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'searchapp:searchlaptops' %}">Laptops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'searchapp:history' %}">History</a>
        </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'searchapp:aboutus' %}">About Us</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'searchapp:mycart' %}">My Cart</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'searchapp:signup' %}">Sign Up</a>
      </li>
      {% endif %}
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="{% url 'searchapp:logout' %}">Logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'searchapp:login' %}">Login</a>
        {% endif %}
      </li>
  </ul>
  </div>
  </nav>

  <!-- Content -->
  <div class="content align-self-center">
      <div class="about-content">
        <p align="center" style="color: black; font-size: 45px;"><u>Project Overview:</u></p>
            A revolutionary breakthrough in the field of E-commerce, Project 'X' will enable the user to carefully curate a number of websites before settling on their dream product at the right value. <br><br> The project’s main purpose is to display laptops and mobile phones from multiple e-commerce websites on a single app for users to compare and select the best product according to their preference.
      </div>
    </div>

  <!-- Footer -->
  <footer class="page-footer">
    <div class="container-fluid padding">
        <div class="row text-center">
          <h5 class="col-lg-12">SOURCES:</h5>
        </div>
        <div class="row text-center">
          <h6 class="col"><a href="https://www.yodobashi.com/" target="_blank">Yodobashi</a></h6>
          <h6 class="col"><a href="https://www.yamada-denkiweb.com/" target="_blank">Yamada Denki</a></h6>
          <h6 class="col"><a href="https://www.rakuten.co.jp/" target="_blank">Rakuten</a></h6>
          <h6 class="col"><a href="https://kakaku.com/" target="_blank">Kakaku</a></h6>
          <h6 class="col"><a href="https://www.biccamera.com/bc/main/" target="_blank">Bic Camera</a></h6>
          <h6 class="col"><a href="https://www.nojima.co.jp/" target="_blank">Nojima</a></h6>
          <h6 class="col"><a href="https://www.apple.com/jp/shop" target="_blank">Apple</a></h6>
        </div>
        <hr>
        <div class="row text-center projdiv">
            <h5 class="col-lg-12 proj"> Project 'X' </h5>
        </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

